/* BODY STYLING BELOW */

body {
    background-image: url(../img/78926.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


/* STYLING FOR THE HEADER BELOW */

h1 {
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}

h2, h3 {
    text-align: center;
}

/* STYLING FOR THE NAVBAR BELOW */

.navbar {
    background-color: white;
    overflow: hidden;
}
  
.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: lightblue;
    color: black;
}
  

.active {
    background-color: #4CAF50;
    color: white;
}
  
.navbar .icon {
    display: none;
}

.header {
  text-align: center;
  text-decoration: none;
}

.hero img {
    width: 90px;
    height: 30px;    
}

/* GRID CONTAINER STYLINg */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5%;
  grid-gap: 10%;
  grid-row-gap: 10vh;
}

.grid {
    display: grid;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.747);
}

img {
  height: 300px;
  width: 400px;
}

.hotel-one {
    padding: 5% 2% 2% 2%;
    margin: 0 auto;
}

.hotel-two {
    padding: 5% 2% 2% 2%;
    margin: 0 auto;
}

.hotel-three {
    padding: 5% 2% 2% 2%;;
    margin: 0 auto;
}

.hotel-four {
    padding: 5% 2% 2% 2%;
    margin: 0 auto;
}